<template>
  <div class="about">
    <h1>Hello {{ their_name }}, this is an about page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit parturient inceptos, convallis porttitor bibendum cras aliquet posuere iaculis facilisi, viverra habitant egestas habitasse proin facilisis aptent ad. Augue mauris hendrerit dui ac erat mus rhoncus pharetra eu, nec inceptos at integer ante mollis habitant auctor fusce habitasse, consequat facilisi posuere sed maecenas velit neque vulputate. Egestas augue potenti praesent class nostra ultricies montes aliquet tempor, auctor ultrices imperdiet quisque nullam pulvinar lectus morbi, eu nascetur sociosqu ullamcorper laoreet mollis ac hendrerit. 
      Varius faucibus pellentesque fusce dapibus interdum fringilla facilisis id sodales eu etiam parturient cras felis, condimentum nunc suscipit urna ullamcorper vivamus cursus aliquet dui quis ligula posuere iaculis. Nam pretium mattis quisque dui cum varius dictum bibendum aliquam curae condimentum senectus, sagittis metus blandit per quam rutrum convallis torquent arcu hendrerit eros, donec luctus velit augue lobortis ligula ultricies enim placerat lacinia purus. Nibh consequat a ridiculus platea dignissim felis risus, congue venenatis himenaeos imperdiet tempor tortor ultricies ornare, mattis ante nec tristique ut cursus.
    </p>
  </div>
</template>

<script>
export default {
  name: "About",
  data() {
    return {
      their_name: this.$route.params.name
    };
  }
};
</script>