<template>
  <div class="skills">
    <h1 v-once>{{name}}</h1>
    <!-- {{ btnState ? 'The button is disabled' : 'The button is active'}}
    <button
      v-on:click="changeName"
      v-bind:disabled="btnState"
    >Change Name</button>-->
    <form @submit.prevent="addSkill">
      <input
        type="text"
        placeholder="Enter a skill you have.."
        v-model="skill"
        v-validate="'min:5'"
        name="skill"
      >

      <transition
        name="alert-in"
        enter-active-class="animated flipInX"
        leave-active-class="animated flipOutX"
      >
        <p class="alert" v-if="errors.has('skill')">{{ errors.first('skill') }}</p>
      </transition>
    </form>
    <div class="bar">
      <!-- Create a binding between the searchString model and the text field -->
      <input style="margin-top: 5%; padding: 10px" type="text" v-model="searchString" placeholder="Enter your search terms">
    </div>
    <div class="holder">
      <ul>
        <li v-for="(data, index) in filteredSkills" :key="index">
          {{data.skill}}
          <i class="fa fa-minus-circle" v-on:click="remove(index)"></i>
        </li>
      </ul>
      <!-- <p v-if="skills.length > 1" v-bind:class="{ alert: showAlert}">You have more than 1 skill</p>
      <p v-else>You have less than or equal to 1 skill</p>-->
    </div>
  </div>
</template>

<script>
export default {
  name: "Skills",
  data() {
    return {
      skill: "",
      skills: [
        { skill: "Vue.js" },
        { skill: "Frontend Developer" },
        { skill: "Changes" }
      ],
      name: "List of your skills",
      btnState: true,
      showAlert: true,
      searchString: ""
    };
  },
  computed: {
    // A computed property that holds only those articles that match the searchString.
    filteredSkills: function() {
      var skills_array = this.skills,
        searchString = this.searchString;

      if (!searchString) {
        return skills_array;
      }

      searchString = searchString.trim().toLowerCase();

      skills_array = skills_array.filter(function(item) {
        if (item.skill.toLowerCase().indexOf(searchString) !== -1) {
          return item;
        }
      });

      // Return an array with the filtered data.
      return skills_array;
    }
  },
  methods: {
    addSkill() {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.skills.push({ skill: this.skill });
          this.skill = "";
        }
      });
    },
    remove(id) {
      this.skills.splice(id, 1);
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
@import "https://cdn.jsdelivr.net/npm/animate.css@3.5.1";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

.alert-in-enter-active {
  animation: bounce-in 0.5s;
}
.alert-in-leave-active {
  animation: bounce-in 0.5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.alert {
  background: #fdf2ce;
  font-weight: bold;
  display: inline-block;
  padding: 5px;
  margin-top: -20px;
}
input {
  width: calc(100% - 40px);
  border: 0;
  padding: 20px;
  font-size: 1.3em;
  background-color: #323333;
  color: #687f7f;
}
.holder {
  background: #fff;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul li {
  padding: 20px;
  font-size: 1.3em;
  background-color: #e0edf4;
  border-left: 5px solid #3eb3f6;
  margin-bottom: 2px;
  color: #3e5252;
}

p {
  text-align: center;
  padding: 30px 0;
  color: gray;
}

.container {
  box-shadow: 0px 0px 40px lightgray;
}
</style>
